<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Procurement portal</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

    

	
<app-root></app-root>
  <script type="text/javascript" src="{{ 'dist/runtime.js' | asset_url }}">  </script>
  <script type="text/javascript" src="{{ 'dist/es2015-polyfills.js' | asset_url }}" nomodule></script>
  <script type="text/javascript" src="{{ 'dist/polyfills.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'dist/styles.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'dist/vendor.js' | asset_url }}"> </script>
  <script type="text/javascript" src="{{ 'dist/main.js' | asset_url }}"></script>

</body>
</html>